$feed-bg: #FFF;
$feed-header-bg: #FFE6DC;
$sliding-categories-height: 40px;
$cart-button-height: 25px;

$cart-badge-bg: #FFF;
$cart-badge-color: #4D301C;
$categories-default-bg: #ff8b81;
$fashion-bg: #ff8b81;
$food-bg: #ffab6b;
$travel-bg: #ffcf4e;
$deals-bg: #7ae27a;
$real-state-bg: #5bd3f9;

$sort-and-filters-color: #4D301C;
$sort-and-filters-icon-color: #ff8b81;
