$search-bg: #FFF;
$search-color: #4d301c;
// $search-header-bg: #4d301c;
// $search-header-color: #FFF;
$search-header-bg: #ff984c;
$search-header-color: #FFF;

$search-header-search-bg: #FFF;
$search-header-search-color: #4d301c;
$search-header-search-icons-color: #ff984c;
